APP_ENV=production
APP_DEBUG=true
APP_KEY=cNb3iZiHQSFM7bYc0XwpCLIqKmECzo9t

DB_HOST=localhost
DB_DATABASE=mtdb
DB_USERNAME=root
DB_PASSWORD=
DB_PREFIX=

CACHE_DRIVER=taggedFile
SESSION_DRIVER=native
QUEUE_DRIVER=sync

TRANS_LOCALE=en
APP_TIMEZONE=EET

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=******@gmail.com
MAIL_PASSWORD=***********
MAIL_FROM_ADDRESS=example@email.com
MAIL_FROM_NAME=MTDb

BASE_URL=http://localhost/mtdb

GOOGLE_ID=
GOOGLE_SECRET=

TWITTER_ID=
TWITTER_SECRET=

FACEBOOK_ID=
FACEBOOK_SECRET=

INSTALLED=1

RAVEN_URL=
#END





